/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  font-family: 'Roboto', sans-serif;
  padding: 0 100px;
  z-index: 2;
  transition: 1s;
  color: white;
  background-color: plum;
}

header{
  display: flex;
}

header h1{
  font-size: 4em;
  line-height: 1em;
  font-weight: 800;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

section p{
  font-size: 1.5em;
  line-height: 1em;
  font-weight: 600;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 25px;
}

main img{
  height: 400px;
  max-width:50%;
  border-radius: 15px;
}

ul li{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  flex-direction: column;
  backdrop-filter: blur(3px);
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  flex-wrap: wrap;
}

video{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
  z-index: -1;
  position: absolute;
}

footer {
  margin-top: 50px;
  z-index: 5;
}

ul.icons {
  cursor: default;
  list-style: none;
  display: flex;
  justify-content: center;
}

ul img {
  margin-top: 10px;
  width: 50%;
  height: 50%;
}

  ul.icons li {
    display: flex;
    flex-direction: row;
    padding: 0 0.75em 0 0;
  }

    ul.icons li:last-child {
      padding-right: 0;
    }

    ul.icons li a {
      border-radius: 100%;
      box-shadow: inset 0 0 0 1px #ffffff;
      display: inline-block;
      height: 2.25rem;
      line-height: 2.25rem;
      text-align: center;
      width: 2.25rem;
    }

      ul.icons li a:hover {
        background-color: rgba(255, 255, 255, 0.075);
      }

      ul.icons li a:active {
        background-color: rgba(255, 255, 255, 0.175);
      }

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
